/*
中身が少ないって？　どうでもいいんだよ
というか見ても意味ないから引き返すことね
*/
.top{
  background-color:black;
  color:white;
  font-size:40px;
}

html {
  scroll-behavior: smooth;
}

#app{
  display: flex; /*横並びにする*/
}

aside{
  width:240px;
  flex-shrink:0; /*縮まないようにする*/
  background-color:#cccccc;
  display: flex;
  flex-direction: column;
  gap:12px;
  height:100vh;
}

main{
  flex:1;
}
