/*
中身が少ないって？　どうでもいいんだよ
というか見ても意味ないから引き返すことね
*/
.top{
  background-color:black;
  color:white;
  font-size:40px;
}

html {
  scroll-behavior: smooth;
}

#app{
  display: flex; /*横並びにする*/
  gap:15px
}

aside{
  width:calc(fit-content+10px);
  flex-shrink:0; /*縮まないようにする*/
  background-color:#f7f7f7;
  display: flex;
  flex-direction: column;
  gap:12px;
  height:100vh;
  overflow:hidden;
}

main{
  flex:1;
}
