/*中身が少ないって？　どうでもいいんだよ*/
.top{
  background-color:black;
  color:white;
  font-size:40px;
}
.trashBox{
  display: flex;
  position:fixed;
  right:0px;
  flex-direction: column; /* 縦に並べる*/
  padding:10px;
  gap: 10px
}
.gabarge{
  padding:12px 0px;
}
