/*
中身が少ないって？　どうでもいいんだよ
というか見ても意味ないから引き返すことね
*/
.top{
  background-color black;
  color:white;
  font-size:40px;
}

html {
  scroll-behavior: smooth;
}

#app{
  display: flex; /*横並びにする*/
}

aside{
  display: flex;
  flex-direction: column;
}
