/*
中身が少ないって？　どうでもいいんだよ
というか見ても意味ないから引き返すことね
*/
.top{
  background-color:black;
  color:white;
  font-size:40px;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  overflow: hidden; /* ← main以外はスクロールしない */
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 100;
}

#app{
  display: flex; /*横並びにする*/
  gap:15px
}

aside {
  position: fixed;
  top: 60px;                 /* headerの高さ */
  left: 0;
  height: calc(100vh - 60px);
  width: fit-content;
  padding: 8px 12px;

  flex-shrink: 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow: hidden;
}

main {
  position: fixed;
  top: 60px;          /* ここもheaderの高さ */
  left: 155px;        /* ←asideの想定幅でごまかす */
  height: calc(100vh - 60px);
  width: calc(100vw - 155px);
  overflow-y: auto;
  padding: 24px;
}
